<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Admin page</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">

        <div class="mr-auto">
            <p class="user-info align-self-center" th:text=" 'Username: ' + ${name} + ' ' + 'Roles: ' + ${roles}"></p>
        </div>
        <div class="ml-auto order-2">
            <a class="navbar-brand text-dark" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>


<section id="pageContent">
    <div class="row">
        <div class="col-md-3 bg-white d-grid gap-3">
            <div class="list-group p-3">
                <a th:href="@{/people}" class="list-group-item list-group-item-action"
                   th:classappend="${#httpServletRequest.getRequestURI() == '/people'
                    || #httpServletRequest.getRequestURI() == '/postAction'? 'active' : ''}">Users
                    table</a>
                <a th:href="@{/user}" class="list-group-item list-group-item-action"
                   th:classappend="${#httpServletRequest.getRequestURI() == '/new' ? 'active' : ''}">User</a>
            </div>
        </div>
        <div class="col-md-9 bg-light">
            <div class="container-fluid align-content-start">
                <h1 class="text-lg-start"> Admin panel</h1>
                <nav>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation"
                            th:classappend="${activeTab == 'tab2' ? 'active' : ''}">
                            <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true"
                                    th:classappend="${activeTab == 'tab1' ? 'active show' : ''}"
                            >Users table
                            </button>
                        </li>
                        <li class="nav-item" role="presentation"
                            th:classappend="${activeTab == 'tab2' ? 'active' : ''}">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="true"
                                    th:classappend="${activeTab == 'tab2' ? 'active show' : ''}">New user
                            </button>
                        </li>
                    </ul>
                </nav>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab"
                         th:classappend="${activeTab == 'tab1' ? 'active show' : ''}">
                        <div>
                            <div class="border bg-light text-center">
                                <h5 class="text-lg-start">All users</h5>
                            </div>

                            <table class="table table-striped border" id="users-table">
                                <thead>
                                <span class="border-top bg-white"> </span>
                                <tr class="border">
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Roles</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="user : ${users}" th:id="'user-' + ${user.id}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.name}" th:id="'name-' + ${user.id}"></td>
                                    <td th:text="${user.lastname}" th:id="'lastname-' + ${user.id}"></td>
                                    <td th:text="${user.age}" th:id="'age-' + ${user.id}"></td>
                                    <td th:text="${user.email}" th:id="'email-' + ${user.id}"></td>
                                    <td th:id="'role-' + ${user.id}" th:text="${user.isAdmin() ? 'ADMIN ' : ''  } + ${user.isUser() ? 'USER' : ''}"></td>

                                    <td>
                                        <form id="edit-user">
                                            <button type="button" class="btn btn-info" id="edit-button"
                                                    data-bs-toggle="modal" data-bs-target="#userEditDialog"
                                                    th:data-userId="${user.id}"> Edit
                                            </button>
                                        </form>
                                    </td>

                                    <td>
                                        <form id="delete-form">
                                            <button type="button" class="btn btn-danger" id="delete-button"
                                                    data-bs-toggle="modal" data-bs-target="#userEditDialog"
                                                    th:data-userId="${user.id}" th:data-action="delete">Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade bg-white" id="pills-profile" role="tabpanel"
                         aria-labelledby="pills-profile-tab"
                         th:classappend="${activeTab == 'tab2' ? 'active show' : ''}">
                        <!-- Форма для создания нового пользователя -->
                        <div class="border bg-light text-center">
                            <h5 class="text-lg-start">Add new user</h5>
                        </div>
                        <form id="createForm"
                                class="centered-elements border s">
                            <div class="col-md-9">
                                <label for="name" class="form-label centered-label"> First name </label>
                                <input type="text" class="form-control" id="name" required>
                                <div style="color: red" id="name-error"></div>
                            </div>

                            <div class="col-md-9">
                                <label for="lastname" class="form-label centered-label"> Last name </label>
                                <input type="text" class="form-control" id="lastname" required>
                                <div style="color: red" id="lastname-error"></div>
                            </div>

                            <div class="col-md-9">
                                <label for="dateOfBirth" class="form-label centered-label "> Date of Birth </label>
                                <input type="date" class="form-control text-lg-center" style="width: 100%"
                                       id="dateOfBirth" required>
                                <div style="color: red" id="dateOfBirth-error"></div>
                            </div>

                            <div class="col-md-9">
                                <label for="email" class="form-label centered-label"> Email </label>
                                <input type="text" class="form-control" id="email">
                                <div style="color: red"></div>
                            </div>

                            <div class="col-md-9">
                                <label for="password" class="form-label centered-label"> Password </label>
                                <input type="text" class="form-control" id="password">
                                <div style="color: red"></div>
                            </div>

                            <div class="col-md-9">
                                <label for="roles" class="form-label centered-label">Roles</label>
                                <select class="form-select form-select-sm text-lg-center "
                                        aria-label=".form-select-sm пример"
                                        id="roles" name="roles"multiple>
                                    <option value="1">Admin</option>
                                    <option value="2">User</option>
                                </select>
                            </div>

                            <div class="col-md-9 text-center">
                                <button type="submit" class="btn btn-success">Add new user</button>
                            </div>

                            <div class="form-group">
                                <div id="user-create-error" class="error" style="display: none;"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="userEditDialog"
                 aria-labelledby="userEditDialogLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userEditDialogLabel">Edit user</h5>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="userId" class="col-form-label">ID</label>
                                    <input type="text" class="form-control" id="userId" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="user-name" class="col-form-label">User Firstname</label>
                                    <input type="text" class="form-control" id="user-name">
                                </div>

                                <div class="form-group">
                                    <label for="user-lastname" class="col-form-label">User Lastname</label>
                                    <input type="text" class="form-control" id="user-lastname">
                                </div>

                                <div>
                                    <label for="user-dateOfBirth" class="col-form-label">Date of Birth</label>
                                    <input type="date" class="form-control" id="user-dateOfBirth">
                                </div>


                                <div class="form-group">
                                    <label for="user-email" class="col-form-label">Email</label>
                                    <input type="text" class="form-control" id="user-email">
                                </div>

                                <div class="form-group">
                                    <label for="user-password" class="col-form-label"
                                           id="user-password-label">Password</label>
                                    <input type="password" class="form-control" id="user-password">
                                </div>

                                <div class="form-group">
                                    <label for="user-roles" class="col-form-label">Roles</label>
                                    <select class="form-control" id="user-roles" multiple>
                                        <option value="1" class="centered-elements">Admin</option>
                                        <option value="2" class="centered-elements">User</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div id="user-error" class="error" style="display: none;"></div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="confirm-button">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<footer class="container background-light">
</footer>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
<script th:src="@{../js/script.js}"></script>
</body>

</html>