<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Пользователь</h1>
<p>Имя: <span th:text="${user.getName()}"></span></p>
<p>Фамилия: <span th:text="${user.getLastname()}"></span></p>
<p>Возраст: <span th:text="${user.getAge()}"></span></p>
<p>Роль: <span th:text="${user.getRoles()}"></span></p>


<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>

</body>
</html>